// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// 我的全局样式变量===================
$my_primary: #006EFF;
$my_success: #339966;   // ###
$my_warning: #ff9933;   // ###
$my_danger: #ff4949;   // ###
$my_info: #555555;   // ###
$my_white: #ffffff;
$my_black: #000000;
$my_opacity: rgba(0,0,0,0);

$text_dark: #524D4A;
$text_middle: #888888;
$text_light: #939393;

$border_dark: #9fa1a2;
$border_middle: #DDDDDD;
$border_light: #E1E1E1;

$bg_pagination: #f1f1f1;
$bg_theme: #939393;   // ###

// header
$headerBg: #006EFF;
$headerText: #FFFFFF;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  headBg: $headerBg;
  headerText: $headerText;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
